@import "tailwindcss";

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/PretendardVariable.woff2') format('woff2');
}

@import "tailwindcss";

@theme {
  
  /* 
     Atomic Colors (Base Palette)
 */

  /* Blue */
  --color-blue-10: #EDF5FF;
  --color-blue-20: #D0E2FF;
  --color-blue-30: #A6C8FF;
  --color-blue-40: #78A9FF;
  --color-blue-50: #4589FF;
  --color-blue-60: #0F62FE;
  --color-blue-70: #0043CE;
  --color-blue-80: #002D9C;
  --color-blue-90: #001D6C;
  --color-blue-100: #001141;

  /* Gray */
  --color-gray-0: #FFFFFF;
  --color-gray-5: #FDFDFE;
  --color-gray-10: #F7F7F8;
  --color-gray-15: #E9E9EB;
  --color-gray-20: #DBDCDF;
  --color-gray-30: #C2C3C8;
  --color-gray-40: #A1A3AA;
  --color-gray-50: #777A83;
  --color-gray-60: #5D6069;
  --color-gray-70: #45474D;
  --color-gray-80: #292A2D;
  --color-gray-90: #171719;
  --color-gray-95: #0F0F10;
  --color-gray-100: #000000;

  /* Green */
  --color-green-10: #DEFBE6;
  --color-green-20: #A7F0BA;
  --color-green-30: #6FDC8C;
  --color-green-40: #42BE65;
  --color-green-50: #24A148;
  --color-green-60: #198038;
  --color-green-70: #0E6027;
  --color-green-80: #044317;
  --color-green-90: #022D0D;
  --color-green-100: #071908;

  /* Orange */
  --color-orange-10: #FDF0EC;
  --color-orange-20: #FCD1C5;
  --color-orange-30: #F9AA95;
  --color-orange-40: #F78364;
  --color-orange-50: #F45C33;
  --color-orange-60: #E83B0D;
  --color-orange-70: #B82F0A;
  --color-orange-80: #872307;
  --color-orange-90: #571605;
  --color-orange-95: #270A02;
  --color-orange-99: #0F0401;

  /* Red */
  --color-red-10: #FFF1F1;
  --color-red-20: #FFD7D9;
  --color-red-30: #FFB3B8;
  --color-red-40: #FF8389;
  --color-red-50: #FA4D56;
  --color-red-60: #DA1E28;
  --color-red-70: #A2191F;
  --color-red-80: #750E13;
  --color-red-90: #520408;
  --color-red-100: #2D0709;

  /* Yellow */
  --color-yellow-10: #FCF4D6;
  --color-yellow-20: #FDDC69;
  --color-yellow-30: #F1C21B;
  --color-yellow-40: #D2A106;
  --color-yellow-50: #B28600;
  --color-yellow-60: #8E6A00;
  --color-yellow-70: #684E00;
  --color-yellow-80: #483700;
  --color-yellow-90: #302400;
  --color-yellow-100: #1C1500;



    @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-in-up: fade-in-up 1s ease-out forwards;
}

body {
}
