@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Pretendard';
  src: url('../assets/fonts/PretendardVariable.woff2') format('woff2');
}

@theme {
  --font-sans:
    'Poppins', 'Pretendard Variable', 'Pretendard', system-ui, sans-serif;

  --text-h-24: 24px;
  --text-h-24--line-height: 36px;
  --text-h-24--letter-spacing: -0.008em;

  --text-h-20: 20px;
  --text-h-20--line-height: 32px;
  --text-h-20--letter-spacing: -0.008em;

  --text-b-18: 18px;
  --text-b-18--line-height: 26px;
  --text-b-18--letter-spacing: -0.005em;

  --text-b-16: 16px;
  --text-b-16--line-height: 24px;
  --text-b-16--letter-spacing: -0.04em;

  --text-l-14: 14px;
  --text-l-14--line-height: 20px;
  --text-l-14--letter-spacing: 0.0125em;

  --text-l-12: 12px;
  --text-l-12--line-height: 18px;
  --text-l-12--letter-spacing: 0.014em;

  --text-c-11: 11px;
  --text-c-11--line-height: 16px;
  --text-c-11--letter-spacing: 0.015em;

  --font-weight-b: 700;
  --font-weight-sb: 600;
  --font-weight-m: 500;
  --font-weight-r: 400;

  --color-orange-95: #2e0c02;
  --color-orange-90: #491304;
  --color-orange-80: #862307;
  --color-orange-70: #cc350b;
  --color-orange-60: #f45c33;
  --color-orange-50: #ffa086;
  --color-orange-40: #fabbaa;
  --color-orange-30: #fcd2c6;
  --color-orange-20: #fde8e3;
  --color-orange-10: #fef7f5;

  --color-neutral-95: #0e0e10;
  --color-neutral-90: #17171a;
  --color-neutral-80: #27282b;
  --color-neutral-70: #35373b;
  --color-neutral-60: #484950;
  --color-neutral-50: #5b5c63;
  --color-neutral-40: #777982;
  --color-neutral-30: #9798a1;
  --color-neutral-20: #babbc1;
  --color-neutral-10: #dcdddf;
  --color-neutral-5: #edeeef;
  --color-neutral-1: #f7f7f8;

  --color-blue-90: #001536;
  --color-blue-50: #0066ff;
  --color-blue-10: #eaf2fe;

  --color-green-90: #00240c;
  --color-green-50: #00bf40;
  --color-green-10: #f2fff6;

  --color-yellow-90: #361e00;
  --color-yellow-50: #ffa938;
  --color-yellow-10: #fffcf7;

  --color-red-90: #0e0e10;
  --color-red-50: #f7f7f8;
  --color-red-10: #fffafa;
}

body {
}
